{% extends "principal.html" %}

{%block contenido%}
    {%block bdblock%}
    <div class="position-relative top-0 start-50 translate-middle-x p-4 mt-3" style="width:1450px;background-color:#EBF1EF;">
      <table id="tablax" class="table table-striped table-bordered " style="width:100%;">
          <thead class="text-center "style="background-color:#99BCAF;padding-right:auto;">
            <th>Block</th>
            <th>Fecha y Hora</th>
            <th>Hash Bloque</th>
            <th>Hash_Anterior</th>
          </thead>
          <tbody class="text-center">
            {% for col in datablock %}
                <tr>
                  <td>{{col['block']['metadata']['index']}}</td>
                  <td>{{col['block']['metadata']['timestamp']}}</td>
                  <td>{{col['hash1']}}</td>
                  <td>{{col['block']['metadata']['previous_hash']}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {%endblock%}
{%endblock%}
