{% extends "principal.html" %}
{%block headadd%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  .container {
    max-width: 95%;
  }
</style>

{%endblock%}
{%block contenido%}
<div class="bloque-seccion">
  <div class="container">
    <div class="row">
      <div class="col md-12">
        <div class="jumbotron p-0">
          <h5 class="py-3">Lista de egresados con <b> Titulo para Firmar </b> </h5>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">x</span>
            </button>
            {{message}}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <table class="table table-hover table-striped">
            <tr>
              <th>Bloque #</th>
              <th>Nombres y Apellidos</th>
              <th>DNI</th>
              <th>Hash datos</th>
              <th>N° de firmas</th>
              <th>Firmar</th>
            </tr>
            {% for row in datablockf %}
            <tr>
              <td>{{row['index']}}</td>
              <td>{{row['Nombre']}}</td>
              <td>{{row['DNI']}}</td>
              <td>{{row['hash_Dato']}}</td>
              <td>{{row['cantf']}}</td>
              <td>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ID{{row.DNI}}" {% if row['firma'] %}disabled{% endif %}>
                  Firmar
                </button>
                <!-- Modal -->
                <div class="modal fade" id="ID{{row.DNI}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Datos a firmar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{{ url_for('processfirma') }}" method="POST">
                        <div class="modal-body">
                          <label class="form-label text-center"> Nombres </label>
                          <input class="form-control text-center" type="text" value="{{row['Nombre']}}" readonly>
                          <label class="form-label text-center"> DNI</label>
                          <input class="form-control text-center" type="text" value="{{row['DNI']}}" readonly>
                          <label class="form-label text-center"> Carrera Profesional</label>
                          <input class="form-control text-center" type="text" value="{{row['CP']}}" readonly>
                          <label class="form-label text-center"> Grado</label>
                          <input class="form-control text-center" type="text" value="{{row['Grado']}}" readonly>
                          <label class="form-label text-center"> Año de egreso</label>
                          <input class="form-control text-center" type="text" value="{{row['YearE']}}" readonly>
                          <label class="form-label text-center"> HASH DATO </label>
                          <input class="form-control" id="hash" type="text" value="{{row['hash_Dato']}}" name="hash"
                            readonly>
                          <label class="form-label  text-center"> Escriba su contraseña </label>
                          <input class="form-control" type="text" name="passw" required>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-primary">Firma Titulo</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>



      </div>
    </div>
  </div>
</div>
{%block script%}{%endblock%}
{%endblock%}